# Addition operator

In [21]:
print(5+9)
print(45+7)
print(99+7565)
print(2+2+2+2+2+2)
print(90+9000)
print(1000+1000000)
print(6+90+777)
print(789+999)
print(999+777)
print(76+89)

14
52
7664
12
9090
1001000
873
1788
1776
165

# Modulus

In [2]:
print(60%7)
print(88%5)
print(30%10)
print(55%5)
print(10009%9)
print(9090%4)
print(8888%54)
print(99%10)
print(5555%67)
print(2%9)

4
3
0
0
1
2
32
9
61
2

# Division operator

In [3]:
print(55/5)
print(66/10)
print(790/45)
print(56/11)
print(7632246/123357)
print(99/4)
print(100000/7)
print(9999/55)
print(79/7)
print(98756/2)

11.0
6.6
17.555555555555557
5.090909090909091
61.871203093460444
24.75
14285.714285714286
181.8
11.285714285714286
49378.0

# Substraction Operator

In [4]:
print(99-99)
print(90-22)
print(12-90)
print(6-4)
print(7-6)
print(22-11)
print(98-9)
print(45-23)
print(267-213)
print(83678-9874)

0
68
-78
2
1
11
89
22
54
73804

# Power of operator

In [5]:
print(7**7)
print(88**3)
print(2**15)
print(4**66)
print(9**9)
print(7*85)
print(9**3)
print(12**7)
print(34**6)
print(-9**9)

823543
681472
32768
5444517870735015415413993718908291383296
387420489
595
729
35831808
1544804416
-387420489

# Greater than operator

In [7]:
print(9>8)
print(999>9999)
print(33>223)
print(44>3)
print(56.7>65)
print(23>22)
print(78>99)
print(45>33)
print(66>44)
print(0>9)

True
False
False
True
False
True
False
True
True
False

# Floor operator

In [8]:
print(77//7)
print(8//2)
print(67//3)
print(46//6)
print(90//9)
print(33//4)
print(234//56)
print(986//23)
print(99//32)
print(22//5)

11
4
22
7
10
8
4
42
3
4

# Less than operator

In [9]:
print(9<8)
print(999<9999)
print(33<223)
print(44<3)
print(56.7<65)
print(23<22)
print(78<99)
print(45<33)
print(66<44)
print(0<9)

False
True
True
False
True
False
True
False
False
True

# Not equal operator

In [10]:
print(7+7!=15)
print(9-9!=9)
print(90*10!=45)
print(78!=98)
print(3*2!=9)
print(45+5!=50)
print(11+11!=22)
print(23/8!=9)
print(33*3!=99)
print(50-50!=0)

True
True
True
True
True
False
False
True
False
False

# Equal to operator

In [11]:
print(4+5==9)
print(90-90==0)
print(6*35==90)
print(2*6==78)
print(77/11==7)
print(23/34==7)
print(12+12==56)
print(100/9==90)
print(98/4==7)
print(45/5==9)

True
True
False
False
True
False
False
False
False
True

# Greater than equal to operator

In [12]:
print(45>=9)
print(90>=100)
print(67>=76)
print(91>=56)
print(453>=453)
print(23>=5)
print(77>=77)
print(23>=45)
print(22>=21)
print(865474>=76542255)

True
False
False
True
True
True
True
False
True
False

# Less than equal to operator

In [23]:
print(45<=9)
print(90<=100)
print(67<=76)
print(91<=56)
print(453<=453)
print(23<=5)
print(77<=77)
print(23<=45)
print(22<=21)
print(865474<=76542255)

False
True
True
False
True
False
True
True
False
True

# Multiplication

In [13]:
print(45*9)
print(90*100)
print(67*76)
print(91*56)
print(453*453)
print(23*5)
print(77*77)
print(23*45)
print(22*21)
print(865474*76542255)

405
9000
5092
5096
205209
115
5929
1035
462
66245331603870

# In operator

In [14]:
print("h" in "house")
print("o" in "house")
print("z" in "elephant")
print("po" in "mopol")
print("t" in "feminist")
print("k" in "kimono")
print("f" in "anthroplogist")
print("t" in "anarchy")
print("j" in "acromegaly")
print("8" in "finish")

True
True
False
True
True
True
False
False
False
False

# Not in operator

In [15]:
print("h" not in "house")
print("o" not in "house")
print("z" not in "elephant")
print("po" not in "mopol")
print("t" not in "feminist")
print("k" not in "kimono")
print("f" not in "anthroplogist")
print("t" not in "anarchy")
print("j" not in "acromegaly")
print("8" not in "finish")

False
False
True
False
False
False
True
True
True
True

# Assignment Operator

In [16]:
name="unicorn"
print(name)
animal='koala'
print(animal)
favcolor='black'
print(favcolor)
variable=3 ,'five ','billy'
print(variable)
nigeriancurrency='Naira'
print(nigeriancurrency)
tuber='potato'
print(tuber)
typeoffish='tilapia'
print(typeoffish)
color='blue'
print(color)
planet='earth',' venus'
print(planet)
country='nigeria'
print(country)

unicorn
koala
black
(3, 'five ', 'billy')
Naira
potato
tilapia
blue
('earth', ' venus')
nigeria

# Or  Operator

In [17]:
x=9
print(x>8 or x<8)
x=99
print(x>100 or x<98)
x=23
print(x>84 or x<8)
x=9
print(x>88 or x>99)
x=77
print(x>8 or x<8)
x=0
print(x>8 or x<8)
x=44
print(x>99 or x<2)
x=112
print(x>600 or x<23)
x=34
print(x>23 or x<55)
j=33
print(j>12 or j<0)

True
False
False
False
True
True
False
False
True
True

# And Operator

In [18]:
x=9
print(x>8 and x<8)
x=99
print(x>100 and x<98)
x=23
print(x>84 and x<8)
x=9
print(x>88 and x>99)
x=77
print(x>8 and x<8)
x=0
print(x>8 and x<8)
x=44
print(x>99 and x<2)
x=112
print(x>600 and x<23)
x=34
print(x>23 and x<55)
j=33
print(j>12 and j<0)

False
False
False
False
False
False
False
False
True
False

# Not Operator

In [19]:
x=9
print(not(x>8 and x<8))
x=99
print(not(x>100 and x<98))
x=23
print(not(x>84 and x<8))
x=9
print(not(x>88 and x>99))
x=77
print(not(x>8 and x<8))
x=0
print(not(x>8 and x<8))
x=44
print(not(x>99 and x<2))
x=112
print(not(x>600 and x<23))
x=34
print(not(x>23 and x<55))
j=33
print(not(j>12 and j<0))

True
True
True
True
True
True
True
True
False
True

# In Operator

In [20]:
x= ['nano', 'loya', 'cowbell']
print('banana' in x)
x=['nano', 'loya', 'cowbell']
print('nano' in x)
x=['nano', 'loya', 'cowbell']
print('yam' in x)
x=['berry', 'ife', 'cowbell']
print('gun' in x)
x=['casor', 'damsel', 'cowbell']
print('damsel' in x)
x=['boy', 'coco', 'flakes']
print('kite' in x)
x=['kangaroo', 'panda', 'bear']
print('k' in x)
x=['hut', 'hunt', 'hunting']
print('ut' in x)
x=['nano', 'nanny', 'popsy']
print('zino' in x)
j=['n', 'l', 'ziglar']
print('zebra' in j)

False
True
False
False
True
False
False
False
False
False